body{
    margin:0;
    padding: 0;
}

/*Header part*/
header{
    margin: 0;
    height:80px;
    background-color:black;
    color: white;
}

header>h2{
    display: inline-block;
    margin: 0;
    padding-top: 30px;
    padding-left: 50px;
    font-family: Montserrat;
}

.nav_bar{
    float: right;
}

.nav_bar>ul{
    margin: 0;
}

.nav_bar>ul>li{
    display: inline-block;
    padding:30px 20px 0 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat;
}

header .highlight{
    color: rgb(199, 54, 1);
}
/*Main Content*/

#showcase{
    margin: 0;
    background:url('Images/background.png') no-repeat 0,-400px;
    min-height:600px;
}

.main_container{
    text-align: center;
    color: white;
    font-family: Montserrat;
}

.main_container>h2{
    margin:0;
    padding-top: 80px;
    font-family: Montserrat;
    color: rgb(199, 54, 1);
}

.main_container>p{
    padding-top:40px;
}
.container{
    height: 250px;
}

#boxes{
    margin-top: 20px;

}

#boxes .box{
    text-align: center;
    float: left;
    width: 30%;
    padding: 15px;
    font-family: Montserrat;
}

#boxes .box img{
    width: 90px;
}

#img-2{
    height: 90px;
}

/*Footer*/

footer{
    background-color: rgb(199, 54, 1);
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    height: 70px;
    color: white;
}

footer p{
    margin: 0;
    padding-top:35px;
}
@media screen and (max-width: 780px){
    header>h2{
        display: block;
        margin: 0;
        padding-top: 10px;
        text-align: center;
    }
    .nav_bar{
        float: none;
        text-align: center;
    }
    .nav_bar>ul>li{
        padding-top: 10px;
        text-align: center;
    }
    .main_container>h2{
        font-size: 40px;
    }
    .main_container>p{
        font-size: 16px;
    }
    .container{
        height: auto;
    }
    #boxes .box{
        float: none;
        width: auto;
    }
}